
<h2>Tasks</h2>

<select [(ngModel)]="filterStatus">
<option value="all">All</option>
<option value="completed">Completed</option>
<option value="pending">Pending</option>
</select>

<ul>

<li *ngFor="let task of filteredTasks()">

<span
  [class.completed]="task.completed"
  [class.pending]="!task.completed"
>
  {{task.title | uppercase}} - {{task.completed | taskStatus}}
</span>

<a [routerLink]="['/tasks',task.id]">Detail</a>
<a [routerLink]="['/tasks',task.id,'edit']">Edit</a>

<button (click)="deleteTask(task.id)">Delete</button>

</li>

</ul>

<a routerLink="/add-task">Add Task</a>
